<div align="center"><h3>{{ viewDate }}</h3></div>
<mwl-calendar-month-view
        [@.disabled]="true"
        [viewDate]="viewDate"
        [events]="events"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)">
</mwl-calendar-month-view>