<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
{{ viewDate }}
<button
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)">
  Previous
</button>
<button
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)">
  Today
</button>
<button
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)">
  Next
</button>
<br>
<button (click)="Previous()"> << </button>
{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
<button (click)="Next()"> >> </button>

<div align="center"><h3>{{ viewDate }}</h3></div>
<!--<div class="text-center">-->
  <!--<button class="btn btn-primary" (click)="refreshView()">Refresh + re-render the current view</button>-->
<!--</div>-->
<strong *ngIf="clickedDate">คุณเลือกวันที่ {{ clickedDate | date:'medium' }}</strong>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
          *ngSwitchCase="'month'"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (beforeViewRender)="beforeMonthViewRender($event)"
          (dayClicked)="dayClicked($event.day)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
          *ngSwitchCase="'week'"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
          *ngSwitchCase="'day'"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh">
  </mwl-calendar-day-view>
</div>
<div align="right">
  <button (click)="saveTag()">บันทึก</button>
</div>