<div align="center"><h3>{{ viewDate }}</h3></div>
<div class="alert alert-info">
  Click on a day on the view.
  <hr>
  <strong *ngIf="clickedDate">คุณเลือกวันที่ {{ clickedDate | date:'medium' }}</strong>
</div>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
          *ngSwitchCase="'month'"
          [viewDate]="viewDate"
          [events]="events"
          (dayClicked)="clickedDate = $event.day.date" (click)="open()">
  </mwl-calendar-month-view>
</div>