<div align="center"><h3>{{ viewDate }}</h3></div>
<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>
  <div class="cell-totals">
    <span class="badge badge-{{ group[0] }}" *ngFor="let group of day.eventGroups">
      {{ group[1].length }}
    </span>
  </div>
</ng-template>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
          *ngSwitchCase="'month'"
          [viewDate]="viewDate"
          [events]="events"
          [cellTemplate]="customCellTemplate"
          (beforeViewRender)="beforeMonthViewRender($event)"
          [activeDayIsOpen]="true">
  </mwl-calendar-month-view>
</div>