span.color1 {
    background-color: #ff5954;
    color: blue
}


.cell-totals {
    margin: 5px;
    text-align: center;
}
.badge {
    margin-right: 5px;
}

.badge-warning{
    background-color: #ff5954;
    border-radius: 3px;
    width: 5px;
    padding: 1px;
    border: 1px solid navy;
}