<table>
    <tr>
        <td width="100%">
            <router-outlet></router-outlet>
        </td>
        <td width="200 px" valign="top">
            <ul>
                <li><a routerLink="/Demos1">Demos1</a></li>
                <li><a routerLink="/Click">Click</a></li>
                <li><a routerLink="/Group">Group</a></li>
                <li><a routerLink="/Refresh">Refresh</a></li>
                <li><a routerLink="/Sumcalendar">Sumcalendar</a></li>
            </ul>
        </td>
    </tr>
</table>
<hr>